.chatting {
    background-color: #a1c0d6;
}

.Wrapper {
    height: 100%;
    display: block;
}

.chat-header {
    background-color: #523737;
    color: white;
    padding: 1rem 10px 15px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    
    a {
        color: white;
    }
    
    .header-bottom {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;

        .header-column{
            width: 33%;
    
            &:last-child {
                text-align: right;
            }
    
            &:nth-child(2){
                text-align: center;
            }
            
            .friend-name {
                font-size: 1rem;
                font-weight: bold;
            }
            .fa-search {
                margin-right: 0.5rem;
            }
        }
    }
}

.detail-chat {
    background-color: #a1c0d6;
    display: block;
    width: 100%;
    height: 100%;

    .date-divider {
        padding-top: 5rem;
        text-align: center;
        font-size: 2rem;
        color: black;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .from-me {
        background: #a1c0d6;
        justify-content: flex-end;
        display: flex;
        align-items: flex-end;
        margin-bottom: 4rem;
        margin-right: 1rem;

        .message-body {
            padding: 10px 10px;
            border-radius: 5px;
            background-color: #ffe934;
            margin-left: 5px;
        }
    }

    .to-me {
        background: #a1c0d6;
        margin-bottom: 4rem;
        margin-left: 1rem;
        display: flex;
        align-items: flex-end;
        font-weight: bold;

        img {
            align-self: flex-start;
            height: 3rem;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 0.5rem;
        }

        .message-center {
            display: flex;
            flex-direction: column;

            .user-name {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 2px;
            }

            .message-body {
                padding: 10px 10px;
                margin-top: 0.3rem;
                border-radius: 5px;
                background-color: #ffffff;
                margin-right: 0.5rem;

                .highlite-span {
                    font-weight: bold;
                    color: red;
                }

                &:hover {
                    cursor: pointer;
                    background: aquamarine;
                }
            }
        }
    }
    
    .time {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.5);    
    }
}

.type-message {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 45px;
    background-color: #eeeeee;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 5px;

    .input-box {
        width: 80%;
        display: flex;
        align-items: center;
        position: relative;        

        input {
            width: 100%;
            padding: 10px;
        }

        .record-message {
            color: #523737;
            background-color: #ffe934;
            padding: 10px;
            cursor: pointer;
        }
    }
}

.fa-smile-o {
    position: absolute;
    right: 40px;
    color: #b4b4b4;
}

.fa-plus {
    color: #b4b4b4;
}