.chats {
    padding-top: 8rem;
    .chat {
        padding: 10px;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.2rem solid rgba(0, 0, 0, 1);

        .avartar {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border-style: solid;
            border-color: black;
        }

        .text {
            flex-grow: 2;
            margin-left: 20px;

            .user-name {
                font-weight: 600;
                display: block;
            }

            .preview {
                color: rgba(0, 0, 0, 0.5);
            }
        }

        .date {
            color: rgba(0, 0, 0, 0.5);
            font-size: 1rem;
        }

        &:hover {
            background: rgba(177, 176, 176, 0.933);
        }
    }
}