.header {
    background-color: #523737;
    color: white;
    padding: 15px 10px 15px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 8rem;
    margin-bottom: 15px;

    a {
        color: white;
    }

    .top-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        font-size: 1rem;
    }

    .bottom-header {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        margin: 0 10px;

        .tab-bar {
            position: fixed;
            width: 97%;
            display: flex;
            justify-content: space-between;

            .tab {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-decoration: none;
                color: #c1c1c1;
                transition: transform .3s linear;

                i {
                    display: block;
                    margin-bottom: 5px;
                    text-align: center;
                    font-size: 24px;
                }
            }
        }
    }
}