.search-bar {
    padding-top: 10rem;
    // position: relative;

    input {
        width: 100%;
        padding: 5px 7px;
        box-sizing: border-box;
        border: 0;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: #f1f2f3;
        font-size: 13px;
        text-align: center;
        transition: border .2s linear;

        &:focus {
            outline: none;
            border-color: #ffe94a;
        }
    }

    i {
        position: absolute;
        color: #bbbbbb;

        &:hover {
            color: red;
        }
    }
}